

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 5rem;
  padding:0px 40px 10px 40px;
  margin-top: auto;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  
  
    color: #131313;
    background-color: transparent;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a8a6a6, 
      -14px 28px 1px #b2b1b0, 
      -15px 30px 1px #bcbbba, 
      -16px 32px 1px #c6c4c4, 
      -17px 34px 1px #cfcdcd, 
      -18px 36px 1px #d8d6d5, 
      -19px 38px 1px #dfdddc, 
      -20px 40px 1px #e4e3e2;
    
}
body {
  font-size: 2.5rem;
  padding: 0px 40px 10px 40px;
  margin: 0px 0px;
}

button {
  font-size: 2.0rem;
}
input {
  width: 25rem;
  height: 2.5rem;
  font-size: 2.2rem;
}

.done {
  text-decoration: line-through;
}

.backgrnd {
  background-image: linear-gradient(to right, rgb(25, 230, 141), rgb(32, 182, 140));
}

#first {
  color: red;
}